const container = document.getElementById('app');

class Title extends React.Component {
  constructor(props) {
    super(props);
    this.state = {count: 0};
  }

  componentDidMount() {
    this.interval = window.setInterval(() => {
      this.setState((state) => ({count: state.count + 1}));
    }, 1000);
  }

  render() {
    return (
      <h1>Seconds passed: {this.state.count}</h1>
    )
  }

  componentWillUnmount() {
    window.clearInterval(this.interval);
  }
}

ReactDOM.render(<Title />, container);